<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="/css/stylefooter.css">
    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
    <title>Footer</title>
</head>
<body>
    <footer class="foot-page">
        <div class="group-1">
            <div class="box">
                <figure>
                    <a href="#">
                        <img src="/img/NuevoLogoConNombreDownsized.png" alt="logo">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2 class="h2-foot">SOBRE NOSOTROS</h2>
                <p class="p-foot">La mayor variedad de productos, al mejor precio y la mejor financiación</p>
                <p class="p-foot">Adquirí ese producto que tanto buscas a través de nuestra tienda online!</p>
                <p class="p-foot">Envíos gratuitos a todo el país.</p>
            </div>
            <div class="box">
                <h2 class="h2-foot">NUESTRAS REDES</h2>
                <div class="red-social">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-youtube"></a>
                </div>
            </div>
        </div>
        <div class="group-2">
            <small>&copy; 2022 <b>Grupo 8</b> - Todos los Derechos Reservados.</small>
        </div>
    </footer>
</body>
</html>