<div class="mainHeader">
<a href="/products"><img src="/img/BannerIronMan.png" class="banner"></a>

<!--<a href="/"><img src="/img/gotBanner.jpg" class="carrusell"></a>
</div>

 acá hay que hacer un for que recorra los productos de a uno y muestre su correspondiente banner, linkeado a la página de ese producto en sí 
<div class="main-container">
    <% for (let i = 0; i < products.length; i++){%>  
    <article class="display-product">
            <img src="/img/<%=products[i].img%>" alt="">
            <h4 class="product-name"><%=products[i].title%></h4>
            <p class="product-price">$<%=products[i].price%></p>
    </article>
    <%}%>  </div> -->