<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ce21b579cc.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Kelly+Slab&family=MedievalSharp&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/stylelogin.css">
    <title>Login</title>
</head>
<body>
      <!-- Navbar -->
     <!-- <%- include('./partials/headerNavbar') %> -->
      <section class="sectionn">
        <img style="background-image: url(/img/Banner2.png);" alt="" class="img-banner">
        <article class="articlee">
          <div class="logo-content-l">
            <a href="/" class="logo-letras-content">
              <div class="logo-letras-content">
                <img class="logoLetras" src="/img/logoLetras.png" alt="">
              </div>
            </a>
          </div>
          <div class="logo-content">
            <a href="/" class="logo-letras-content">
              <div class="logo-simple-content">
                <img class="logoSimple" src="/img/logoSimple.png" alt="">
              </div>
            </a>
          </div>
          <h2 class="h2-log">Bienvenido</h2>
          <form action="/users/login" method="POST" class="form-login">
            <div>
              <div class="error">
                <ul></ul>
              </div>
              <label class="labell">
                <div class="divs">
                  <p>E-mail</p>
                  <span class="p-log">¿No tenés cuenta? <a class= "link" href="register"> Registrate</a></span>
                </div>
                
              <input class="inp" type="email" placeholder="&#9993; E-mail" name="eMail" id="email">
              <% if (locals.errors && errors.eMail) { %>
                <span style="color: red"><%= errors.eMail.msg %></span>
              <%} %>
              </label>
              <label class="labell" for="">
                <div class="divs"><p>Contraseña</p></div>
              <input class="inp" type="password" placeholder="&#128273; Contraseña" name='password' id="password">
              <% if (locals.errors && errors.password) { %>
                <span style="color: red"><%= errors.password.msg %></span>
              <%} %>
              </label>
              <input class="inp-button" type="submit" id="submit" value="Ingresar">
              <label class="check-label" for="remember"id="remember-label"><input class="checkbox" type="checkbox" name="remember_user"> <p class="p-log">Recordar usuario y contraseña</p></label> 
              
              <p class="p-recover">¿Olvidaste la contraseña? <a class="link" href="recoverpassword.html"> Olvidé mi contraseña</a></p>
            </div>
        </form>
        </article>
        <script src="/js/validatorLogin.js"></script>
      </section>
  
 </body>
</html>