*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    cursor: url('../img/iconoCursor2.png'), auto;
}

body {
    background-color: #f6f6f6;
    font-family: sans-serif;
}

/* Main */
.art1 {
    width: 100vw;

}

.title {
    text-align: center;
    padding: 9vw;
    margin-top: 20vh;
}

.article-category{
    height: 5vh;
    width: 100vw;
    padding-left: 4.5vw;
    border-bottom: 1px solid black;
}

.column1 {
    margin-left: 1vw;
}
.column2 {
    margin-left: 28%;
}

.column3 {
    margin-left: 8%;
}

.column4{
    margin-left: 6%;
}


.additions {  
    border-radius: 10px;
    width: 100vw;
}
.item {
    margin-left: 1vh;
    width: 100vw;
    padding-left: 1.5em;
    padding-top: 1vh;
}
.infoitem {
    border-bottom: solid 1px black;
    padding-bottom: 1vh;
    width: 100vw;
    display: flex;
}


.itemproduct {
    width: 100vw;
    display: flex;
}

.image {
    width: 15vw;
}

.product {
    width: 25%;
}

.nameproduct {
    text-decoration: none;
    color: black;
    font-weight: bold;
    /*width: 10vw;*/
    height: 100vh;
}

.values{
    width: 16%;;
}

.price {
    color: orangered;
}

.last-price {
    text-decoration: line-through;
}

.itemquantity{
    width: 20%;
}


.selectorquantity {
    margin-left: 5px;
    border: 1px solid black;
    padding: 3.8px;
    margin-right: 10px;
    background-color: white;
}
.button {
    text-align: center;
    padding: 3px 10px;
    border: none;
    background-color: white;
    color:rgb(131, 131, 131);
}

.article-box {
    display: flex;
}

.box {
    margin: 10px;
}
.box-summary {
    border-radius: 5px;
    border: 1px solid black;
    background-color: burlywood;
    padding: 1vw;
    width: 100vw;
}

.box-totals {
    margin: 5vw;
}

.box-body {
    margin-bottom: 3vw;
}

.value {
    margin-left: 40vw;
}

.subt {
    margin-left: 43vw;
}

.final {
    margin-left: 30vw;
    font-weight: bold;
}

.area-cupon {
    border-top: black 1px solid;
    border-bottom: black 1px solid;

}
.cupon-desc {
    padding: 1vw;
}

.inp-discount {
    border-radius: 2vw;
    width: 60vw;
    height: 6vw;
    border: 1px black solid;
}

.add {
    background-color: burlywood;
    color: rgb(253, 25, 71);
    border: none;
    width: 10vw;
    height: 8vw;
    margin: 0vw 2vw;
}

.total-total {
    margin: 3vw;
}


.finish-button {
    margin: 1vw;
    border: 1px black solid;
    background-color: rgb(253, 25, 71);
    border-radius: 3vw;
    width: 80vw;
    height: 10vw;
}
.finish-button a {
    text-decoration: none;
    color: rgb(255, 255, 255); 
}

.continue-shopping {
    margin-top: 1vw;
}

.continue-shopping-button {
    margin: 1vw;
    padding: 1vw;
    border: 1px black solid;
    border-radius: 2vw;
    background-color: rgb(226, 226, 226);
}

.continue-shopping-words {
    text-decoration: none;
    color: black;
    background-color: rgb(226, 226, 226);
    text-align: center;
}

/* MEDIA QUERIES */

@media (min-width: 480px) {
}

@media(min-width: 768px) {
    .description {
        display: flex;
    }
    .novelties {
        margin-top: 110px;
    }

    /* article */

    .title {
        text-align: center;
        padding: 9vw;
        margin-top: 10vh;
    }

    .article-category{
        display: flex;
    }

    .column2 {
        margin-left: 38%;
    }

    .column3 .column4{
        margin-left: 10%;
    }

    .product {
        width: 30%;
    }

    .values{
        width: 20%;;
    }
    .itemquantity{
        width: 15%;
    }
    
}




@media(min-width: 1200px) {
    .novelties {
        margin-top: 140px;
    }

    /* section */
    .title {
        text-align: center;
        padding: 9vw;
        margin-top: 5vh;
    }

    .column2 {
        margin-left: 28%;
    }

    .column3 {
        margin-left: 8%;
    }

    .column4{
        margin-left: 6%;
    }

    .product {
        width: 25%;
    }

    .values{
        width: 16%;;
    }
    .itemquantity{
        width: 20%;
    }
}