* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    cursor: url('../img/iconoCursor2.png'), auto;
}

body {
    background-color: #f6f6f6;
    font-family: sans-serif;
}

.sectionn {
    flex-wrap: wrap;
    height: auto;
    margin-bottom: 50px;
}

.articlee {
    width: 100%;
    height: auto;
}

.form-container {
    width: 100%;
}

.form-register {
    margin: auto;
    display: flex;
    justify-content: center;
    max-width: 395px;
    width: 95vw;
}

.logo-content-l {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0px 0px 60px 0px;
    display: none;
}

.logo-letras-content {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
}

.logoLetras {
    height: 200%;
    width: 160%;
    margin-top: 10px;
}


.logo-content {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -60px;
}

.logo-simple-content {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #28a4bb;
    background-color: #195591e6;
    cursor: pointer;
}

.logoSimple {
    height: 160%;
    width: 160%;
    margin-top: 10px;
}



.h2-log {
    text-align: center;
    margin-bottom: 60px;
    font-size: 40px;
    margin-top: 10px;
}

.errors ul{
    color: red;
}

.errors ul li{
    text-decoration: none;
}

.divs {
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.divs p {
    font-size: 20px;
    margin-bottom: -2px;
    padding-bottom: 0;
    font-weight: 545;
    text-align: left;
}

.inp{
    display: block;
    padding: 10px;
    width: 100%;
    font-size: 20px;
    cursor: url('../img/iconoCursorPointerZombie.png'), auto;
    margin-top: 15px;
    background-color: transparent;
    border: 1px solid hsla(0,0%,43.9%,.5019607843137255);
}

.labell {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}

.inp-button {
    display: block;
    padding: 10px;
    width: 100%;
    font-size: 20px;
    cursor: url('../img/iconoCursorPointerZombie.png'), auto;
    transition: all 0.18s;
    margin-bottom: 30px;
}

.inp-button:hover {
    background-color: rgb(116, 136, 184);
}

input[type="submit"]{
    background-color: rgb(78 65 171) ;
    border: 0;
    color: whitesmoke;
    opacity: 0.9;
    cursor: url('../img/iconoCursorPointerZombie.png'), auto;
    margin-bottom: 30px;
    margin-top: 10px;
}
input[type='submit'] :hover {
opacity: 1;
}

input[type='submit'] :active {
    transform: scale(0.95);
}

.check-label {
    display: flex;
    margin-top: 15px;
    margin-bottom: 10px;
    align-items: center;
}

.checkbox {
    flex-grow: 0.1;
    cursor: url('../img/iconoCursorPointerZombie.png'), auto;
}

.p-reg {
    font-size: 17px;
}

.p-img {
    font-size: 17px;
    width: 100%;
}

.p-recover {
    font-size: 17px;
    margin-bottom: 30px;
}

.link {
    margin-top: 20px;
    cursor: url('../img/iconoCursorPointerZombie.png'), auto;
}

.img-banner {
    width: 100%;
    height: 220px;
    background-position: 50%;
    background-size: 100vw;
}

.img-right {
    display: none;
}



@keyframes aumentar {
    0% { transform: scale(1) }
    100% { transform: scale(1.1) }
}

/* MEDIA QUERIES */

@media(min-width: 768px) {
    /*.form-login {
        margin-top: 20%;
        margin-bottom: 16%;
        max-width: 500px;
        min-height: 100vh;
        margin-bottom: 0;
        width: 40%;
        padding:100px 50px 30px 50px;
        margin-top: 0%;
    } */

    .checkbox {
        right: 55px;
        bottom: 110px;
    }

    

    
    

}

@media(min-width: 1024px) {

    .errores {
        text-align: center;
        color: red;
    }

    .img-banner {
        display: block;
        width: 60%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50%;
        height: auto;
    }

    .sectionn {
        overflow: hidden;
        width: 100%;
        max-width: 100vw;
        display: flex;
        justify-content: space-around;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        margin-bottom: auto;
    }

    .articlee {
        width: 40%;
        min-height: 100vh;
    }

    .form-register {
        max-width: 80%;
    }

    .logo-content-l {
        display: block;
    }
}
    

@media(min-width: 1440px) {
    .form-login {
        margin-top: 12%;
        margin-bottom: 10%;
        max-width: 500px;
    }
}







/** {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    cursor: url('../img/iconoCursor2.png'), auto;
}

body {
    background-color: #f6f6f6;
    font-family: sans-serif;
}

.form-register {
    margin: auto;
    margin-top: 25%;
    margin-bottom: 20%;
    width: 90vw;
    max-width: 500px;
    background-color: #f3f3f3;
    padding: 30px;
    border: 1px solid rgba (0,0,0,0.2);
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.h2-reg {
    text-align: center;
    margin-bottom: 20px;
    color: rgba (0,0,0,0.5);
}

.errors ul{
    color: red;
}

.divs {
    font-weight: bold;
}

.inp{
    display: block;
    padding: 10px;
    width: 100%;
    margin: 0px 0px 30px 0;
    font-size: 20px;
}

.inp-button {
    display: block;
    padding: 10px;
    width: 100%;
    margin: 30px 0;
    font-size: 20px;
}

.inp-button:hover {
    background-color: rgb(45, 77, 153);
}

input[type="submit"]{
    background-color: rgb(51 32 189);
    border: 0;
    color: whitesmoke;
    opacity: 0.9;
    margin-bottom: 0;
    cursor: url('../img/iconoCursorPointerZombie.png'), auto;
}

input[type='submit'] :hover {
opacity: 1;
}
input[type='submit'] :active {
    transform: scale(0.95);
}
.p-reg {
    margin-top: 15px;
    font-size: 17px;
}

.link {
    cursor: url('../img/iconoCursorPointerZombie.png'), auto;
}

@keyframes aumentar {
    0% { transform: scale(1) }
    100% { transform: scale(1.1) }
}

/* MEDIA QUERIES 

@media(min-width: 768px) {
    .form-register {
        margin-top: 18%;
        margin-bottom: 14%;
        max-width: 500px;
    }
}


@media(min-width: 1024px) {
    .errores {
        text-align: center;
        color: red;
      } 
      .form-register {
        margin-top: 14%;
        margin-bottom: 10%;
    }
}

@media(min-width: 1440px) {
    .form-register {
        margin-top: 8%;
        margin-bottom: 5%;
        max-width: 500px;
    }
}
*/