* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    cursor: url('../img/iconoCursor2.png'), auto;
    text-decoration: none;
}

body {
    background-color: #f6f6f6;
    font-family: sans-serif;
}

.h2-prof {
    text-align: center;
    padding: 10%;
    color: rgb(43, 2, 2);
}

.data-h2 {
    text-align: center;
    margin-bottom: 60px;
    font-size: 30px;
    margin-top: 10px;
}

.user-text {
    background-color: rgb(81 180 199);
    color: white;
    padding: 3.5px;
    border-radius: 5px;
}

/*.user-profile {
    background-color: whitesmoke;
    margin-top: 30%;
    margin-bottom: 10%;
    max-width: 75vw;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid rgba (0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10%;
    align-items: center;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}*/

.user-profile {
    margin-top: 90px;
}

.container-2 {
    margin: auto;
    justify-content: center;
    max-width: 395px;
    width: 95vw;
}

.form-container {
    display: block;
    margin: auto;
    justify-content: center;
    max-width: 395px;
    width: 95vw;
}

.data-user {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid #a3a3a3;
}

.data-user-lab {
    font-size: 20px;
    margin-bottom: -2px;
    padding-bottom: 0;
    font-weight: 545;
    text-align: left;
}

.avatar-profile {
    width: 100%;
    display: flex;
    justify-content: center;
}

.profile-avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #28a4bb;
    background-color: #195591e6;
    cursor: pointer;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.button-form {
    padding: 2%;
    font-size: 10px;
    width: 100%;
}

.button {
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(78 65 171);
    color: white;
    padding: 8px 10px;
    border-radius: 5px;
    border: lightgrey;
    width: 100%;
    cursor: url('../img/iconoCursorPointerZombie.png'), auto;
}

.button:hover {
    background-color: rgb(116, 136, 184);
    color: white;
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    transition: all 0.5s;
}

.input-form {
    padding: 10px;
    width: 100%;
    margin: 30px 0;
    font-size: 18px;
    border-radius: 10px;
    border: none;
}



/* MEDIA QUERIES */

@media(min-width: 375px) {
    
}

@media(min-width: 768px) {
    .user-profile {
        margin-top: 18%;
        margin-bottom: 11%;
    }  
}

@media(min-width: 1024px) {
    .user-profile {
        margin-top: 12%;
        margin-bottom: 7.5%;
        display: flex;
        margin-right: 5%;
    }
    .avatar-profile {
        width: 30%;
        height: 35vw;
    }
    .button-form {
        padding: 1%;
        font-size: 10px;
    }
    h2 {
        padding: 5%;
    }
    .profile-avatar {
        display: block;
        max-width: 70%;
        max-height: 100%;
        border-radius: 99%;
        margin: auto;
        width: 210px;
        height: 210px;
    }

    .container-0 {
        width: 70%;
    }

    .container-2 {
        max-width: none;
        width: auto;
    }

    .form-container {
        max-width: none;
        width: 100%;
    }
}

@media(min-width: 1440px) {
    .user-profile {
        margin-top: 5%;
    }
    .avatar-profile {
        width: 40vw;
        height: 28vw;
    }
    .profile-avatar {
        width: 280px;
        height: 280px;
    }
}